@media only screen and (max-width: 900px) {
    header nav {
        /* position: inherit; */
        background-color: black;
    }

    header nav ul.hidden {
        gap: 5px;
        display: flex;
        flex-direction: column;
        height: 0;
        gap: 0;
        align-items: center;
        justify-content: start;
        position: fixed;
        overflow: hidden;
        padding: 0;
        transition: height 1s ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        padding: 0;
        background-color: rgb(0, 0, 0);
    }

    header nav ul.show {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
        justify-content: start;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        transition: height 1s ease-in-out;
        background-color: rgb(0, 0, 0);
        overflow: hidden;
    }

    /* header nav ul.show > *{
        height: 100%;
        width: 100%;
    } */
    header nav ul.show>button {
        padding: 20px 0;
        width: 100%;
    }

    header nav ul.hidden>button {
        padding: 20px 0;
        width: 100%;
    }

    header nav ul li {
        transition: all 0.5s ease;
    }

    header nav ul.show li {
        padding: 30px 0;
        text-align: center;
        width: 1000px;
        transition: width 0.5s ease;
        background-color: transparent;
    }

    header nav ul.hidden li {
        padding: 30px 0;
        text-align: center;
        width: 1000px;
        transition: width 0.5s ease;
        background-color: transparent;
    }

    header nav ul li a {
        /* font-size: 12px; */
    }

    header nav .nav-button {
        display: block;
        padding: 20px;
        border: none;
        background-color: transparent;
        float: right;
    }

    .home-welcome div span:nth-child(1) {
        font-size: max(3vw, 16px);
    }

    .home-welcome div span:nth-child(2) {
        font-size: max(6vw, 21px);
    }

    section[class*="-introduction"],
    .home-welcome {
        min-height: 300px;
        /* height: 50vw; */
    }
    .aboutme-introduction div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    section[class*="-introduction"] div p {
        font-size: max(2vw, 16px);

    }

    section h2 {
        font-size: max(5vw, 26px);
    }

    .highlight-card-container {
        display: flex;
        width: 300vw;
    }

    .home-quote {
        font-size: 20px;
        height: auto;
        min-height: 300px;
    }

    .home-quote>div {
        background-image: url("/assets/images/quotes-bg.png");
        background-position: left center;
        background-size: 50px;
        background-blend-mode: luminosity;
        background-repeat: no-repeat;
    }

    .aboutme-goals>div {
        flex-direction: column;
    }

    .aboutme-education .education-indicator>div>div.dots-container {
        margin: 0 175px;
        width: calc(350 * 3 + 350 / 2)px;
        gap: 350px;
    }

    .aboutme-education .education-indicator>div>div span {
        border-radius: 100px;
        display: block;
        width: 10px;
        height: 10px;
        flex: 0 0 auto;
    }


    .aboutme-education .education-carousel-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutme-education .education-carousel-card .carousel-description {
        text-align: center;
        width: auto;
    }


    .aboutme-goals>div>.aboutme-goals-title {
        writing-mode: horizontal-tb;
        letter-spacing: 5px;
    }

    .myfamily-profile .family-profile-container>div {
        flex-direction: column;
        align-items: center;
    }

    .gallery-grid-photos>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery-grid-photos>div>div {
        height: 50vw;
        width: 100%;
        display: inline-block;
        position: relative;
    }

    .gallery-grid-photos>div>div:nth-child(2) {
        margin-top: 0;
    }

    .gallery-grid-photos>div>div:nth-child(3) {
        margin-top: 0;
    }

    .gallery-grid-photos>div>div:nth-child(4) {
        margin-top: 0;
    }

    .contactus-form .contact-form-container {
        flex-direction: column;
        gap: 0;
    }

    .contactus-form .contact-form-container div textarea {
        height: 200px;
    }

    .contactus-form .submit-button-container button {
        width: 100%;
    }

    .contactus-socials>div {
        flex-direction: column;
    }

    footer>div {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    footer>div>.footer-contact-information li {
        display: flex;
        justify-content: center;
    }

    footer>div>.footer-social-links>ul {
        display: flex;
        justify-content: space-around;

    }

    .page-title h1 {
        font-size: 10vw;
        letter-spacing: 0;
    }

    .gallery-grid-photos {}
}