@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat';
    color: white;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

a {
    text-decoration: none;
}

header {
    padding: 10px 0;
    padding-top: 84px;
    background-image: url("/assets/images/bg-header.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

header nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    /* padding: 10px; */
    background-color: #000;
}

header nav .nav-button {
    display: none;
    padding: 20px;
    border: none;
    background-color: transparent;
    float: right;
}

header nav .nav-button svg {
    width: 30px;
    height: 30px;
}

header nav .nav-button svg path {
    fill: #fff;
}

header nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

header nav ul li {
    background-color: #3498DB;
    padding: 10px 20px;
    position: relative;
}

header nav ul li a {
    font-size: 20px;
    text-wrap: nowrap;
}

nav ul li.active {
    background: #3498db77;
}

section {
    padding: 10px;
}

.page-title h1 {
    font-weight: 900;
    font-size: 104px;
    text-transform: uppercase;
    letter-spacing: 20px;
    margin: 0 0 -30px 30px;
}

.home-welcome {
    background-color: black;
    padding: 10px 0 40px 0;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-welcome>div {
    display: flex;
    flex-direction: row;
}

.home-welcome div span {
    display: block;
    font-weight: 900;
}

.home-welcome div span:nth-child(1) {
    font-size: 32px;
}

.home-welcome div span:nth-child(2) {
    font-size: 64px;
}

.home-introduction,
.aboutme-introduction,
.myfamily-introduction {
    background-color: #3498DB;
    padding: 50px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section[class*="-introduction"] div p {
    text-align: center;
    display: block;
    font-size: 32px;
    font-weight: 750;
}

.home-highlights {
    background-color: brown;
}


/* .home-highlights h2 {
    font-size: 48px;
    font-weight: 900;
} */

.highlight-card-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-around;
    gap: 20px;
}

.highlight-card {
    width: 250px;
    height: 400px;
    margin: 100px 0 0 0;
    /* background-color: #3498DB; */
    /* background-image: linear-gradient(to top, black, brown, brown); */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.highlight-card img {
    /* object-fit: cover; */
    width: 110%;
    margin-top: -70px;
}

.highlight-card p {
    text-align: center;
    padding: 0 20px;
    margin: 20px 0;
}

.highlight-card span {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    position: absolute;
    bottom: 10px;
}

.home-highlights>div>div {
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.home-highlights>div>div::-webkit-scrollbar {
    display: none;
}

.home-quote {
    background-color: chocolate;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-quote div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/images/quotes-bg.png");
    background-position: left center;
    background-size: 10vw;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
}

.home-quote blockquote {
    text-align: center;
    max-width: 900px;
}

.home-announcements {
    /* background-color: yellowgreen; */
    background-image: url("/assets/images/home-announcement-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 64px;
    font-weight: 800;
    height: 500px;
}

.home-announcements>div {
    display: flex;
    flex-direction: column;
}

.home-announcements div div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.home-announcements div button {
    background-color: red;
    border: none;
    padding: 15px;
    font-size: 64px;
    font-weight: 800;
    width: 250px;
    margin: -40px 0 0 0;
    display: block;
}

.aboutme-skills {
    background-color: cadetblue;
    overflow: hidden;
    padding: 50px 0;
}

.aboutme-skills>div>* {
    margin: 50px 0;
}

/* .aboutme-skills .aboutme-skills-title {
    font-size: 48px;
    font-weight: 900;
    margin: 0 100px;
} */

.aboutme-skills .aboutme-skills-title {
    margin: 0 100px;
}

section h2 {
    font-size: 48px;
    font-weight: 900;
}

.aboutme-skills .aboutme-skills-title::after {
    content: "";
    background-color: red;
    display: block;
    width: 100%;
    height: 20px;
    margin: -20px 50px 0 50px;
}

.aboutme-skills .skill-container {
    display: flex;
    flex-direction: row;

}

.aboutme-skills .icon-container {
    /* background-color: #fff; */
    background-image: radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(140, 203, 255));
    display: inline-block;
    margin: 10px;
    border-radius: 100px;
    position: relative;
    /* background-image: url("/assets/images/Game\ Effect.gif"); */
    /* background-image: url("/assets/images/Game\ Effect.gif"); */
    /* background-position: center; */
    /* background-size: cover; */
    /* background-blend-mode: multiply; */
    /* filter: brightness(1.5) contrast(2); */
    /* mix-blend-mode: screen */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}


.aboutme-skills .icon-container img {
    object-fit: cover;
    width: 150px;
    z-index: 100;
}

.aboutme-skills .icon-container img:first-child {
    text-align: center;
    object-fit: contain;
    object-position: center;
    height: 250px;
    width: 250px;
    filter: brightness(1) contrast(1.8);
    position: absolute;
    mix-blend-mode: color-dodge;
    z-index: 0;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.aboutme-skills .progress-container {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aboutme-skills .progress-container .skill-title {
    font-size: 36px;
    font-weight: 800;
}

.aboutme-skills .progress-container .skill-progress {
    background-color: white;
    height: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.aboutme-skills .progress-container .skill-progress span {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    display: block;
    border-radius: 100px;
}

/* .aboutme-skills .progress-container .skill-progress span:nth-child(-n+4) {
    background-color: red;
} */

.aboutme-skills .progress-container .skill-progress>div {
    background-color: red;
    height: 5px;
    /* width: 35%; */
    position: absolute;
}

.skill-progress.sp4 span:nth-child(-n+4) {
    background-color: red;
}

.skill-progress.sp3 span:nth-child(-n+3) {
    background-color: red;
}

.aboutme-skills .progress-container .skill-progress.sp3>div {
    width: 25%;
}

.aboutme-skills .progress-container .skill-progress.sp4>div {
    width: 35%;
}

.aboutme-education {
    background-color: coral;
}

.aboutme-education>div>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}

.aboutme-education .aboutme-education-title {
    background-color: brown;
    padding: 15px;
    /* font-size: 48px;
    font-weight: 900; */
    display: inline-block;
    margin: -50px 0 0 0;
}

.aboutme-education .education-indicator>div.indicator-container {
    /* background-color: #d0db34; */
    height: 15px;
    width: 100%;
    position: relative;
    margin: 10px;
    display: grid;
    overflow: hidden;
}

.aboutme-education .education-indicator>div>div.dots-container {
    background-color: #85db34;
    height: 5px;
    width: 3440px;
    display: flex;
    align-items: center;
    justify-content: start;
    align-self: center;
    gap: 860px;
    /* gap: 415px; */
    /* margin-left: -1575px; */
}


.aboutme-education .education-indicator>div::-webkit-scrollbar {
    scrollbar-width: none;
    scale: 0;
}

.aboutme-education .education-indicator>div>div span {
    border-radius: 100px;
    background-color: rgb(150, 64, 219);
    display: block;
    width: 15px;
    height: 15px;
    flex: 0 0 auto;
}

/* .aboutme-education .education-indicator > div > div span:first-child {
    margin-left: 175px;
    width: 15px;
    height: 15px;
} */

.aboutme-education .education-carousel {
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
}

.aboutme-education .education-carousel::-webkit-scrollbar {
    scrollbar-width: none;
}

.aboutme-education .education-carousel-card {
    display: flex;
    gap: 20px;
}

.aboutme-education .education-carousel-card .carousel-card-image {
    background: #3498DB;
    width: 350px;
    height: 200px;
}

.aboutme-education .education-carousel-card .carousel-card-image img {
    /* height: 200px; */
    background: #3498DB;
    width: 350px;
    height: 200px;
    object-fit: cover;
}

.aboutme-education .education-carousel-card .carousel-description {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.aboutme-education .education-pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aboutme-education .education-pagination button {
    background-color: transparent;
    border: none;
}

.aboutme-education .education-pagination button svg {
    width: 40px;
    height: 40px;
}

.aboutme-education .education-pagination button svg path {
    fill: white;
}

.aboutme-goals {
    background-color: teal;
    padding: 30px 0;
}

.aboutme-goals>div {
    display: flex;
    gap: 30px;
}

.aboutme-goals .aboutme-goals-title {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 48px;
    margin: 0 30px;
}

.aboutme-goals .short-term-goal {}

.aboutme-goals .goals-container>div {
    padding: 20px;
}

.aboutme-goals .goals-container>div>h3 {
    font-size: 24px;
}

.aboutme-goals .goals-container>div>p {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}

.myfamily-profile {
    background-color: sienna;
}

/* .myfamily-profile .myfamily-profile-title {
    font-size: 48px;
    font-weight: 900;
} */

.myfamily-profile .family-profile-container>div {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    gap: 70px;
    margin: 70px;
}

.myfamily-profile .family-profile-container .family-profile-card {
    background-color: steelblue;
    width: 250px;
    height: 350px;
    text-align: center;
    position: relative;

}

.myfamily-profile .family-profile-container .family-profile-card span {
    position: absolute;
    bottom: -15px;
    right: -20px;
    font-size: 32px;
    font-weight: 900;
}

.myfamily-profile .family-profile-container .family-profile-card p {
    position: absolute;
    bottom: 50px;
    margin: 0 10px;
}


.gallery-grid-photos {
    background-color: rebeccapurple;
}

.gallery-grid-photos>div {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.gallery-grid-photos>div>div {
    width: 250px;
    height: 500px;
    display: inline-block;
    background-color: #fff;
    position: relative;
}

.gallery-grid-photos>div>div:nth-child(2) {
    margin-top: 50px;
}

.gallery-grid-photos>div>div:nth-child(3) {
    margin-top: 100px;
}

.gallery-grid-photos>div>div:nth-child(4) {
    margin-top: 150px;
}

.gallery-grid-photos>div>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.contactus-form {
    background-color: slateblue;
    padding: 10px 0;
}

.contactus-form .contact-form-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contactus-form .contact-form-container div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
    width: 100%;
}

.contactus-form .contact-form-container div label {
    /* font-weight: 700; */
    font-size: 18px;

}

.contactus-form .contact-form-container div input,
.contactus-form .contact-form-container div textarea {
    padding: 10px 20px;
    outline: none;
    color: black;
}

.contactus-form .contact-form-container div textarea {
    height: 100%;
    resize: none;
}

.contactus-form .submit-button-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.contactus-form .submit-button-container button {
    background-color: #3498DB;
    border: none;
    padding: 10px 20px;
    /* font-weight: 900; */
    font-size: 18px;
    /* letter-spacing: 2px; */
    text-transform: uppercase;
}

.contactus-socials {
    background-color: seagreen;
}

.contactus-socials>div {
    display: grid;
    grid-template-columns: 50% 50%;
}

.contactus-socials>div>div {
    background-color: #3498DB;
    height: 70px;
    margin: 40px 0 40px 40px;
    border-radius: 100px;
}

.contactus-socials>div>div>div:first-child {
    background-color: #3498DB;
    padding: 20px;
    display: inline-block;
    border-radius: 100px;
    width: 90px;
    height: 90px;
    margin: -20px 0 0 -20px;
}

.contactus-socials>div>div>div:nth-child(2) {
    display: inline-block;
}

.contactus-socials>div>div>div:nth-child(2)>div {
    position: relative;
}

.contactus-socials>div>div>div:nth-child(2)>div * {
    display: inline;
}

.contactus-socials>div>div>div:nth-child(2)>div>a {
    font-size: 21px;
    font-weight: 800;
    display: block;
    margin-left: 30px;
}

.contactus-socials>div>div>div>svg {
    width: 50px;
    height: 50px;
}

footer {
    background-color: black;
    /* height: 500px; */
    padding: 50px 0;
}

footer>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

footer>div div {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


footer .footer-title {
    font-size: 20px;
    text-transform: uppercase;
}

footer .footer-social-links ul li {
    margin: 20px 0;
    text-align: center;
}

footer svg {
    width: 36px;
    height: 36px;
}

footer svg path,
footer svg circle {
    fill: #fff;
}

footer .footer-contact-information ul li a svg {
    width: 26px;
}

footer .footer-contact-information ul li a {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin: 10px 0;
}

footer .footer-contact-information ul li {
    padding: 0 10px;
}

footer .footer-nav-links-container nav ul li {
    margin: 10px;
    padding: 5px 10px;
}